API_MODE=true
API_KEY=""

AUTO_SYNC=false
SYNC_DELAY=10800

YWH_EMAIL=''
YWH_PWD=''
YWH_OTP=''

DISCORD_WEBHOOK='https://discord.com/api/webhooks/xxx/xxx'
DISCORD_LOGS_WEBHOOK='https://discord.com/api/webhooks/xxx/xxx'
